/*-- scss:defaults --*/

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
// $font-family-sans-serif: "Lato", sans-serif !default;

// headings
// $presentation-heading-font: "Lato", sans-serif !default;

// $presentation-h1-font-size: 1.9em;
// $presentation-h2-font-size: 1.4em;

$presentation-heading-font-weight: 400;
// $presentation-font-smaller: 0.7;
$presentation-font-size-root: 35px;
$presentation-h1-font-size: 2.8em;
$presentation-h2-font-size: 2.5em;
// $presentation-line-height: 0.3;






